@import url(../var.css);

.number-block {
    font-weight: bold;
    background-color: var(--number-block-color);
    color: var(--text-primary);

    text-align: center;
    padding: 1rem;
    border-radius: 0.5rem;

    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);

    flex-direction: row;
    display: flex;
    width: fit-content;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
    flex-grow: 1;
}

.hovered {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: var(--number-block-color-hovered) !important;
}

.selected {
    background-color: var(--number-block-color-selected) !important;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.4);
}
