@import url('./var.css');

#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body{
  background-color: var(--background);
  color: var(--text-primary)
}

.flex {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  flex-wrap: wrap;
}

.instructions {
  font-size: 1rem;
}

footer {
  margin-top: 2rem;
  font-size: 0.8rem;
}

.dark-mode-toggle {
  position: fixed;
  display: flex;
  top: 0;
  right: 0;
  margin: 20px 20px 20px 20px;
}

.dark-mode-moon {
  width: 50px;
  height: 50px;
}

.hidden-checkbox {
  opacity: 0;
  width: 0;
  position: absolute;
}