@import url('./var.css');

#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.grid {
  display: grid;
  grid-template-rows: 3fr 1fr;
  gap: 2rem;
}

body {
  background-color: var(--background);
  color: var(--text-primary)
}

.flex {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  flex-wrap: wrap;
}

.instructions {
  font-size: 1rem;
}

footer {
  margin-top: 2rem;
  font-size: 0.8rem;
}

.dark-mode-toggle {
  position: fixed;
  display: flex;
  top: 0;
  right: 0;
  margin: 20px 20px 20px 20px;
}

.dark-mode-moon {
  width: 50px;
  height: 50px;
}

.hidden-checkbox {
  opacity: 0;
  width: 0;
  position: absolute;
}

a:link {
  color: var(--hyperlink-text-color);
}

a:visited {
  color: var(--hyperlink-text-color-visited);

}

a:active {
  color: var(--hyperlink-text-color-active);
}

.mobile-action-buttons {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.mobile-action-buttons button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  width: 100%;
  height: 100%;
  background-color: var(--number-block-color);
  border-radius: 0.5rem;
  color: var(--text-primary);
  border: none;
}