.number-block {
    font-weight: bold;
    background-color: rgb(235, 235, 235);
    text-align: center;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
    flex-direction: row;
    display: flex;
    width: fit-content;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
    transition: all 0.1s;
    flex-grow: 1;
}

.hovered {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: rgb(250, 250, 250);
    /* background-color: rgb(148, 148, 148); */

}

.selected {
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
}