:root {
  --background: #f2f2f2;
  --text-primary: #0f0f0f;
  --number-block-color: rgb(235, 235, 235);
  --number-block-color-hovered: rgb(250, 250, 250);
  --number-block-color-selected: rgb(215, 215, 215);
}

[data-theme='dark'] {
  --background: #303030;
  --text-primary: #ffffff;
  --number-block-color: rgb(20, 20, 20);
  --number-block-color-hovered: rgb(5, 5, 5);
  --number-block-color-selected: rgb(40, 40, 40);
}