.usernames {
    max-width: 400px;
    overflow-wrap: anywhere;
    text-align: justify;
}

.center {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}