table {
    width: 100%;
}

tr {
    text-align: center;
}

td {
    width: 50%;
}

.winner-td {
    padding: 0.5rem;
}

.player-0 {
    color: #ffd900;
    /* border: #FFD700 2px solid; */
    font-size: xx-large;

}

.player-1 {
    color: #acacac;
    font-size: x-large;
}

.player-2 {
    color: #CD7F32;
    font-size: large;
}

.player-regular {
    font-size: small;
}